textarea {
    min-height: 100px;
    max-height: 500px;
}

.modal-body .input-group {
    margin: 0 !important;
}

.input-group .row {
    margin-bottom: 30px;
}

.card {
    padding: 0;
    margin-bottom: 20px;
}

.input-group {
    margin: 60px 0;
    padding: 0 20px;
}

.highlight-button {
    background-color: #2ecc71 !important;
    color: white !important;
    border-radius: 0;
    border-color: #2ecc71 !important;
}

.highlight-button:hover {
    background-color: #22aa5b !important;
    border-color: #22aa5b !important;
}

.highlight-button:active {
    background-color: #22aa5c !important;
    border-color: #22aa5c !important;
}

.modal-footer button {
    border: none;
}

.date-picker {
    border-radius: 0;
    border: 1px solid #ced4da;
}

.action-button {
    float: right;
    background-color: white;
    border: none;
}

#mainbody {
    margin: 0;
    width: 100%;
}

#search-bar {
    max-width: 1000px;
    min-width: 100px;
    border-radius: 0;
}

#card-container {
    padding: 0;
    overflow-x: hidden;
    width: 100%;
}

#content {
    width: 100%;
    padding: 0;
}

#description {
    margin-top: 50px;
    text-align: center;
}

#add-event-button {
    margin-left: 50px;
}

#close-button {
    background-color: #dedede;
}

#close-button:hover {
    background-color: #cfcfcf;
}

@media(max-width: 992px) {
    #card-container {
        padding: 0 50px;
    }
}

@media(min-width: 992.1px) {
    .card {
        margin: 20px 20px;
    }
}